<% include partials/header %>


  <form id="editForm" class="text-center" action="/update/<%= movie._id %>?_method=PUT" method="post">
    <div class="">
      <h1><%= movie.title %></h1>
      <!-- <h3><%= movie.title %></h3> -->
      <input type="text" class="form-control" name="title" value="<%= movie.title %>"/>
    </div>

    <div class="">
      <label>Rating: <%= movie.rating.substring(0, 1) %> out of 10 </label><br>
      <input type="text" class="form-control" name="rating" value="<%= movie.rating %>" />
    </div>


    <div class="">
      <label for="">Poster:</label><br>
      <img alt="Bootstrap Image Preview" src="<%= movie.poster %>" width=280 /><br>
      <input type="text" class="form-control" name="poster" value="<%= movie.poster %>"/>
    </div>

    <div class="">
      <label>Released: <%= movie.year %></label>
      <input type="text" class="form-control" name="year" value="<%= movie.year %>"/>
    </div>

    <div class="group">
      <label>Rated: <%= movie.rated %></label>
      <input type="text" class="form-control" name="rated" value="<%= movie.rated %>"/>
    </div>

    <div class="group">
      <label>Runtime: <%= movie.runtime %></label>
      <input type="text" class="form-control" name="runtime" value="<%= movie.runtime %>"/>
    </div>

    <div class="">
      <label>Director: <%= movie.director %></label>
      <input type="text" class="form-control" name="director" value="<%= movie.director %>"/>
    </div>

    <div class="">
      <label>Actors: <%= movie.actors %></label>
      <input type="text" class="form-control" name="actors" value="<%= movie.actors %>"/>
    </div>

    <div class="">
      <label>Plot: </label><br>
      <textarea name="plot"><%= movie.plot %></textarea>
    </div>

    <div class="">
      <label>Rating: <%= movie.rating.substring(0, 3) %></label>
      <input type="text" class="form-control" name="rating" value="<%= movie.rating %>"/>
    </div>

    <div class="">
      <label>Production: <%= movie.production %></label>
      <input type="text" class="form-control" name="production" value="<%= movie.production %>"/>
    </div>

    <div class="">
      <label>URL: <%= movie.imdburl %></label>
      <input type="text" class="form-control" name="imdburl" value="<%= movie.imdburl %>"/>
    </div>

    <div class="">
      <label>ID: <%= movie.imdbid %></label>
      <input type="text" class="form-control" name="imdbid" value="<%= movie.imdbid %>"/>
    </div>
    <br>
    <input type="submit" class="btn btn-primary" value="Save Edit">
    <br><br>
    <a href="/home">Cancel</a>
  </form>



<% include partials/footer %>
