
<% include partials/header %>
<div class="wrap">
  <div class=""id="home">
    <div class="topSpace"></div>
    <form action="/collection" method="GET" class="form-inline text-center" id="movie-search">
      <div class="group movSrch" style="">
        <input style="width:100%"type="text" id="schFld" name="search" required placeholder="Search collection by movie title..." class="form-control">
        <input class="btn btn-default btn-block" id="srcBtn"  type="submit" value="Search" >
      </div>
      <div class="form-group"><br>
        <a href="/collection"class="btn-text">reset form</a>
      </div>
    </form>
    <p class="text-center red">
      <b><%= err %></b>
    </p>
    <hr>
    <div class="row text-center">
  		<div class="col-md-12">
        <!-- <%  if (currentUser.username && movie.length > 0){ %>
            <p>
              <b><%= currentUser.username.toUpperCase()  %>'s Collection Total (<span class="red"><%= movie.length %></span>)</b>
            </p>
        <%  }else { %>
            <p>
              <b><%= currentUser.username.toUpperCase()  %>'s Collection Total (<span class="red">0</span>)</b>
            </p>
        <%} %> -->
        <br><br>
        <section class="flex-container wrap">
          <% for(var i = movie.length; i-- > 0;){ %>
            <p style="margin:30px auto; padding-left:4.5%; padding-right:4.5%;">
              <a href="/collection/movie/<%= movie[i].id %>">
                <button class="btn btn-danger text-center"  name="<%= movie[i].title %>">

                  <h4><%= movie[i].title.substring(0, 15) %></h4><br>
                  <img class="imgWatchList"src="<%= movie[i].poster %>" width="140" alt="<%= movie[i].title %> poster image">
                </button>
              </a>
            </p>
           <% } %>
         </section>
    		</div>
      </div>
  	</div>
  </div>
<% include partials/footer %>
