
  <% include partials/header %>
  <div id="home">
    <div class="topSpace"></div>
    <div class="topSpace"></div>

    <form action="/home" method="GET" class="form-inline text-center" id="campground-search">
      <div class="group" style="max-width:500px;margin:0 auto;">
        <input style="width:100%"type="text" id="schFld"name="search" required placeholder="Collection search..." class="form-control">
        <input class="btn btn-default btn-block" id="srcBtn"  type="submit" value="Search" >
      </div>
      <div class="form-group"><br>
        <a href="/home"class="btn-text">reset form</a>
      </div>
    </form><br>
    <p class="text-center red"><b><%= err %></b></p>
    <hr>

    <div class="row text-center">
  		<div class="col-md-12">
        <h2 class="h2 text-center">Movie Collection</h2>
        <%  if (currentUser.username && movie.length > 0){ %>
            <p><b><%= currentUser.username.toUpperCase()  %>'s Collection Total (<span class="red"><%= movie.length %></span>)</b></p>
        <%  }else { %>
            <p><b><%= currentUser.username.toUpperCase()  %>'s Collection Total (<span class="red">0</span>)</b></p>
        <%} %>
        <br><br>
          <ul class="flex-container wrap" id="cardContainer">

            <!-- <ul class="flex-container wrap">
              1
            </ul> -->
            <% for(var i = movie.length; i-- > 0;){ %>
              <li class="flex-item">
                <div class="card text-center">
                  <h1><b><%= movie[i].title %></b></h1>
                  <img alt="Bootstrap Image Preview" class="img-responsive" src="<%= movie[i].poster %>" width=320 /><br>

        					<p>
                    <span><b>Released:</b> <%= movie[i].year %> | <b>runtime:</b> <%= movie[i].runtime %> | <b>Rated:</b> <%= movie[i].rated %></span>
                  </p>

        					<p>
                    <span><b>Genre:</b> <%= movie[i].genres %></span>
                  </p>

        					<span><a href="<%= movie[i].imdburl %>" target="_blank">View on IMDB website</a></span>

                 <div class="forms-wrap">
                   <br>
                   <form id="deleteBtnForm" class="">
                     <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#EDIT<%= movie[i].id %>"><span class="glyphicon glyphicon-trash"></span> Trash</button>
                   </form>

                   <!-- <form id="editBtnForm" action="/edit/<%= movie[i].id %>" method="get">
                     <button data-toggle="collapse" data-target="#demo" class="btn btn-danger"><span class="glyphicon glyphicon-edit"></span> Edit </button>
                   </form> -->

                   <form id="viewBtnForm"class="" action="/movie/<%= movie[i].id %>" method="get">
                     <button type="submit" class="btn btn-danger"name="button">Read More</button>
                   </form>
                 </div>
                 <!-- Confirnm Delete Modal -->
                 <div id="EDIT<%= movie[i].id %>" class="modal fade" role="dialog">
                   <div class="modal-dialog">

                     <!-- Modal content-->
                     <div class="modal-content">
                       <div class="modal-body">
                         <h4 class="modal-title">Are you sure you want to permanently delete <%= movie[i].title %>? </h4><br>
                         <form id="deleteBtnFormPerm" class="" action="/delete/<%= movie[i].id %>?_method=DELETE" method="post">
                           <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Yes Remove <%= movie[i].title %></button>
                         </form>
                       </div>
                       <div class="modal-footer">
                         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                       </div>
                     </div>

                   </div>
                 </div>

               </div> <!-- End Card -->
               </li>
             <% } %>
           </ul>




  		</div>
        </div>
  	</div>
  </div>

    <script type="text/javascript">
    // const val = document.getElementById('schFld').value;
    // val.toUpperCase();

    </script>

<% include partials/footer %>
