<% include partials/header %>

  <div class="board text-center">
    <h4 class="text-center"><a href="/collection">Collection ></a><a href="/collection/movie/<%= movie.id %>"> <%= movie.title %></a></h4>
    <div id="editForm" class="text-center" >
      <br>
      <div class="">
        <h1><%= movie.title %></h1>
      </div>

      <div class="">
        <label>Rating: <%= movie.rating.substring(0, 1) %> out of 10 <i class="glyphicon glyphicon-star"></i> stars</label><br>
      </div>


      <div class="">
        <img alt="Bootstrap Image Preview" src="<%= movie.poster %>" class="img-responsive" /><br><br>
      </div>

      <div class="">
        <label>Released: </label>
        <span><%= movie.year %></span><br>
      </div>

      <div class="group">
        <label>Rated: </label>
        <span><%= movie.rated %></span><br>
      </div>

      <div class="">
        <label>Genre: </label>
          <% for(var t = movie.genres.length; t-- > 0;){ %>
              <form  style="display:inline;" action="/search/genres"method="post">
                <input type="text" class="form-search" name="genre" value="<%= movie.genres[t] %>">
                <button style="padding:3px;"type="submit" class="genreBtn"><%= movie.genres[t] %></button>
              </form>
          <% } %>
      </div>

      <div class="group">
        <label>Runtime: </label>
        <span><%= movie.runtime %></span><br>
      </div>

      <div class="">
        <label>Director: </label>
        <span><%= movie.director %></span><br>
      </div>

      <div class="text-center">
        <label>Actors: </label>
        <% for(var t = movie.actors.length; t-- > 0;){ %>
            <form  style="display:inline;" action="/search/actors"method="post">
              <input type="text" class="form-search" name="actor" value="<%= movie.actors[t] %>">
              <button style="padding:3px;"type="submit" class="actorBtn"><%= movie.actors[t] %></button>
            </form>
        <% } %>
        <br><br>
      </div>

      <div class="">
        <span><p><%= movie.plot %></p></span>
      </div>

      <div class="">
        <label> Overall Rating: </label>
        <span><%= movie.rating.substring(0, 3) %></span><br>
      </div>

      <div class="">
        <label>Production: </label>
        <span><%= movie.production %></span><br>
      </div>
      <br>
      <div class="">
        <p>
          <span><a href="<%= movie.imdburl %>/videogallery?ref_=tt_pv_vi_sm" target="_blank">View Trailers</a></span> |
          <a href="<%= movie.imdburl %>/mediaindex?ref_=tt_sa_1" target="_blank">Photos</a> |
          <a href="<%= movie.imdburl %>/fullcredits?ref_=tt_ql_1" target="_blank">View Cast & Crew</a> |
          <a href="<%= movie.imdburl %>/trivia?ref_=tt_ql_2" target="_blank">trivia</a>
          <br><br><br><br>
        </p><br>
        <form id="deleteBtnForm" class="">
          <button type="button" class="btn btn-default" data-toggle="modal" data-target="#DELETE<%= movie.id %>"><span class="glyphicon glyphicon-trash"></span> Remove</button>
        </form>
      </div>
      <br><br>
    </div>

    <!-- Confirnm Delete Modal -->
    <div id="DELETE<%= movie.id %>" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-body">
            <h4 class="modal-title">Are you sure you want to permanently delete <%= movie.title %>? </h4><br>
            <form id="deleteBtnFormPerm" class="text-center" action="/collection/delete/<%= movie.id %>?_method=DELETE" method="post">
              <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Yes Remove <%= movie.title %></button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>

        </div>

      </div>
    </div>

  </div>




<% include partials/footer %>
