<% include partials/header %>
    <div class="topSpace"></div>

      <div class="board">
        <h4 class="text-center">Random Pick | <a href="/collection"> Back To Collection</a></h4>
        <form id="editForm" class="text-center">
          <br>
          <div class="">
            <h1><%= movie.title %></h1>
          </div>

          <div class="">
            <label>Rating: <%= movie.rating.substring(0, 1) %> out of 10 <i class="glyphicon glyphicon-star"></i> stars</label><br>
          </div>

          <div class="">
            <img alt="Bootstrap Image Preview" src="<%= movie.poster %>" class="img-responsive" /><br><br>
          </div>

          <div class="">
            <label>Released: </label>
            <span><%= movie.year %></span><br>
          </div>

          <div class="group">
            <label>Rated: </label>
            <span><%= movie.rated %></span><br>
          </div>

          <div class="">
            <label>Genre: </label>
            <span><%= movie.genres %></span><br>
          </div>

          <div class="group">
            <label>Runtime: </label>
            <span><%= movie.runtime %></span><br>
          </div>

          <div class="">
            <label>Director(s): </label>
            <span><%= movie.director %></span><br>
          </div>

          <div class="">
            <label>Actors: </label>
            <span><%= movie.actors %></span><br><br>
          </div>

          <div class="">
            <span><p><%= movie.plot %></p></span>
          </div>
          <br><br><br>
        </form>
      </div>





<% include partials/footer %>
