<% include partials/header %>
  <div class="topSpace"></div>
    <div class="">
      <form class="" action="/search/results" method="get">
        <div class="text-center" style="max-width:600px;margin:auto">
          <h3 style="color:#fff;">Search For Movies</h3>
          <input id="srchInp"class="form-control"type="text" required name="search" placeholder="Some movie titles are case sensitive"><br>
          <input style="font-weight:bold;"id="srchBtn"class="btn btn-default btn-block" value="Search" type="submit">
        </div>
      <br><br>
      <% if (movie) { %>
        <!-- <h4 class="text-center" style="color:#fff;">Enter A Movie Title To Search </h4> -->
      <%}%>
      <hr>
      </form>
      <h3 class="text-center" style="color:#fff;"><%= err %></h3><br><br>
      <div class="row text-center">
    		<div class="col-md-12">

            <%if (movie) {%>
              <form class="watchForm" action="/search/add_watchlist" method="post">
                  <div class="form-group">
                    <input type="text" class="form-control" name="title" value="<%= movie.title %>"/>
                    <input type="text" class="form-control" name="rating" value="<%= movie.rating %>" />
                    <input type="text" class="form-control" name="poster" value="<%= movie.poster %>"/>
                    <input type="text" class="form-control" name="year" value="<%= movie.year %>"/>
                    <input type="text" class="form-control" name="rated" value="<%= movie.rated %>"/>
                    <input type="text" class="form-control" name="runtime" value="<%= movie.runtime %>"/>
                    <input type="text" class="form-control" name="genres" value="<%= movie.genres %>"/>
                    <input type="text" class="form-control" name="director" value="<%= movie.director %>"/>
                    <input type="text" class="form-control" name="actors" value="<%= movie.actors %>"/>
                    <input type="text" class="form-control" name="plot" value="<%= movie.plot %>"/>
                    <input type="text" class="form-control" name="rating" value="<%= movie.rating %>"/>
                    <input type="text" class="form-control" name="production" value="<%= movie.production %>"/>
                    <input type="text" class="form-control" name="imdburl" value="<%= movie.imdburl %>"/>
                    <input type="text" class="form-control" name="imdbid" value="<%= movie.imdbid %>"/>
                  </div>
                  <input type="submit" id="addWatchListBtn"class="btn btn-default" value="Add to watch list">
              </form>
              <br>

              <form class=""id="addForm" action="/search/add_collection" method="post">

                <button id="addCollectBtn"class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Add to collection</button>
                <div class="board">
                  <h5 style="color:red;">*** NOTE: If needed edit movie information BEFORE adding to collection  ***</h5>
                  <div class="form-">
          					<h3><%= movie.title %></h3>
                    <a data-toggle="collapse" data-target="#title">edit</a>
                    <div class="collapse" id="title">
                      <label for="titles">Edit Title Below</label>
            					<input type="text" class="form-control" id="titles"name="title" value="<%= movie.title %>"/>
                    </div><br><br>
          				</div>

          				<div class="form-group">
                    <span><%= movie.rating %> out of 10 stars</span><br>
          					<input type="text" class="form-control" name="rating" value="<%= movie.rating %>" />
          				</div>

                  <div class="form-">
                    <img alt="Bootstrap Image Preview" class="img-responsive" src="<%= movie.poster %>" width=400 />
                    <a data-toggle="collapse" data-target="#poster">edit</a>
                    <div class="collapse" id="poster">
                      <label for="posters">Edit Image URL Below</label>
            					<input type="text" class="form-control" id="posters"name="poster" value="<%= movie.poster %>"/>
                    </div><br><br>
          				</div>

                  <div class="form-">
          					<span>Relased: <%= movie.year %></span>
                    <a data-toggle="collapse" data-target="#year">edit</a>
                    <div class="collapse" id="year">
                      <label for="years">Edit Release Year Below</label>
            					<input type="text" class="form-control" id="years"name="year" value="<%= movie.year %>"/>
                    </div><br><br>
          				</div>

                  <div class="form-">
          					<span>Rated: <%= movie.rated %></span>
                    <a data-toggle="collapse" data-target="#rated">edit</a>
                    <div class="collapse" id="rated">
                      <label for="rateds">Edit Rating Below</label>
            					<input type="text" class="form-control" id="rateds"name="rated" value="<%= movie.rated %>"/>
                    </div><br><br>
          				</div>

                  <div class="form-">
          					<span>Runtime: <%= movie.runtime %></span>
                    <a data-toggle="collapse" data-target="#runtime">edit</a>
                    <div class="collapse" id="runtime">
                      <label for="runtimes">Edit Runtime Below</label>
            					<input type="text" class="form-control" id="runtimes"name="runtime" value="<%= movie.runtime %>"/>
                    </div><br><br>
          				</div>

                  <div class="form-">
          					<span>Genres: <%= movie.genres %></span>
                    <a data-toggle="collapse" data-target="#genres">edit</a>
                    <div class="collapse" id="genres">
                      <label for="genre">Edit Genre Below</label>
            					<input type="text" class="form-control" id="genre"name="genres" value="<%= movie.genres %>"/>
                    </div><br><br>
          				</div>

                  <div class="form-">
          					<span>Director(s): <%= movie.director %></span>
                    <a data-toggle="collapse" data-target="#director">edit</a>
                    <div class="collapse" id="director">
                      <label for="directors">Edit Directors Below</label>
            					<input type="text" class="form-control" id="directors"name="director" value="<%= movie.director %>"/>
                    </div><br><br>
          				</div>

                  <div class="form-">
          					<span>Actors: <%= movie.actors %></span>
                    <a data-toggle="collapse" data-target="#actor">edit</a>
                    <div class="collapse" id="actor">
                      <label for="actors">Edit Actors Below</label>
            					<input type="text" class="form-control" id="actors"name="actors" value="<%= movie.actors %>"/>
                    </div><br><br>
          				</div>

                  <div class="form-">
          					<span><b>Plot:</b> <%= movie.plot %></span>
                    <!-- <textarea name="plot" rows="8" cols="80"><%= movie.plot %></textarea> -->
                    <a data-toggle="collapse" data-target="#plot">edit</a>
                    <div class="collapse" id="plot">
                      <label for="plots">Edit Plot Below</label>
            					<textarea name="plot" id="plots"rows="8" cols="80"><%= movie.plot %></textarea>
                    </div><br><br>
          				</div>

                  <div class="form-group">
          					<span>Overall Rating: <%= movie.rating %></span>
          					<input type="text" class="form-control" name="rating" value="<%= movie.rating %>"/>
          				</div>

                  <div class="form-">
          					<span>Produced by: <%= movie.production %></span>
                    <a data-toggle="collapse" data-target="#production">edit</a>
                    <div class="collapse" id="production">
                      <label for="productions">Edit Production Company Below</label>
            					<input type="text" class="form-control" id="productions"name="production" value="<%= movie.production %>"/>
                    </div><br><br>
          				</div>

                  <div class="form-group">
          					<span>IMDB Website Link: <%= movie.imdburl %></span>
          					<input type="text" class="form-control" name="imdburl" value="<%= movie.imdburl %>"/>
          				</div>

                  <div class="form-group">
          					<span>IMDB ID: <%= movie.imdbid %></span>
          					<input type="text" class="form-control" name="imdbid" value="<%= movie.imdbid %>"/>
          				</div>
                 <br>
                </div>

             </form>
           <%} %>
    		</div>
    	</div>
    </div>
<% include partials/footer %>
